 .flex-center{
    display:flex;   
    justify-content:center;
    flex-direction:column; 
    border: 3px solid rgb(18, 65, 234) ;
    padding: 1em 1em;
    font-style: italic;
    gap:1em; 
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 30%;
}
.container{
    margin-top: -60%; 
}
 
.container.flex{
    display:flex;
    flex-direction: column;
    justify-content:space-between;  
    margin-top: 40%;
}
.container .bold{
  color: rgb(18, 65, 234);;
  font-size: 20px;
}      
 table{
    width: 100%;
    margin-top: 90%; 
}
.table-header{
   color:rgb(0, 0, 0);
   font-size: 2em;
   font-style: italic;
   text-align: center;
   background: #ffffff;
}
.table-body{
   font-size: 2em;
   text-align: center;
   background: #81d2ef;
   margin-top: 50%;
   font-style: italic;
}
.table-header>tr>td{
   border: 1px solid rgb(18, 65, 234);
   border-width: 2.3px;
} 
.head{
    margin-bottom: 70%; 
    text-align:center;
    font-size: 5.4rem;
    color: #1043fb;   
}
.rrev{
  text-align:center;
  align-items: center;
 position:fixed;
  font-size: 20px;
  font-weight: bold;
  background: #f6e040;
  width: 80px;
  padding: 8px;
  bottom: 38%;
  left: 47%;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  }
  .display{
    margin-top: -60%;
  } 
  
.rrev {
  text-align:center;
  align-items: center;
 position:fixed;
  font-size: 20px;
  font-weight: bold;
  background: #f6e040;
  width: 80px;
  padding: 8px;
  bottom: 38%;
  left: 47%;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
}
